﻿@page
@model PAC_Man.Pages.GameModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Field</title>
    <link href="~/css/Filed.css" rel="stylesheet" />
    <script src="~/js/signalr.min.js"></script>
</head>
<body>
    <canvas id="canvField" width="512" height="542" style="margin-top: 30px; border: 1px solid #000000" tabindex="1"></canvas> @*/608 * 684*@
    <label id="score" value="0"></label>
    <script>
        let hubUrl = 'http://localhost:60134/hub';
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .configureLogging(signalR.LogLevel.Information)
            .build();

        hubConnection.start();

        var canvas = document.getElementById("canvField"),
            context = canvas.getContext('2d');

        var focus = function getFocus() {
            document.getElementById("canvField").focus();
        }

        var map = @Html.Raw(Json.Serialize(Model.mapArray));

        var cellWidth = 512 / map.length;
        var cellHeight = 542 / map[0].length;

        var x, y;

        //IMAGE
        //function component(width, height, color, type) {
        //    this.type = type;
        //    if (type == "image") {
        //        this.image = new Image();
        //        this.image.src = color;
        //    }
        //    this.width = width;
        //    this.height = height;
        //    this.speedX = 0;
        //    this.speedY = 0;
        //    this.update = function () {
        //        if (type == "image") {
        //            context.drawImage(this.image,
        //                this.width, this.height);
        //        } else {
        //            context.fillStyle = color;
        //        }
        //    }
        //}

        var iPacMan = new Image();
        var score = 0;
            //iPacMan.src = "images/1Pacman.png";
            //iPacMan.onload = function () {
            //    context.drawImage(iPacMan, 239, 390);
            //}
        //using c# massive
        function drawMap(map) {
            //debugger;
            for (x = 0; x < @Model.mapArray.GetLength(0); x++) {
                for (y = 0; y < @Model.mapArray.GetLength(1); y++) {
                    if (map[x][y] == (@((int)GameModel.FieldBox.Coin)) && map[x][y] != (@((int)GameModel.FieldBox.Tunnel)) && map[x][y] != (@((int)GameModel.FieldBox.Tunnel1))) {
                        context.fillStyle = "#FFFF00";
                    }
                    else if (map[x][y] == @((int)GameModel.FieldBox.Wall)) {
                        context.fillStyle = "#000000";
                    }
                    else if (map[x][y] == @((int)GameModel.FieldBox.PacMan)){
                        context.fillStyle = "#00FFFF";
                        //iPacMan.src = "images/1Pacman.png";
                        //iPacMan.onload = function () {
                        //    context.drawImage(iPacMan, 239 + cellWidth, 390 + cellHeight);
                        //}
                    }
                    else if (map[x][y] == (@((int)GameModel.FieldBox.Tunnel)) || map[x][y] == (@((int)GameModel.FieldBox.Tunnel1))){
                        context.fillStyle = "#ff0000";
                    }
                    else if (map[x][y] == @((int)GameModel.FieldBox.Empty)){
                        context.fillStyle = "#f46842";
                    }

                    context.fillRect(x * cellWidth, y * cellHeight, cellWidth, cellHeight);
                }
            }

            debugger;
            for (var i = 0; i <= @Model.mapArray.GetLength(0); i++) {
                if (i == @((int)GameModel.FieldBox.Empty)) {
                    score++;
                    var scoreLb = document.getElementById('score').innerHTML = "Score: " + score;
                    console.log("SCORE: ", score);
                }
            }
        }

        window.onload = drawMap(map);

        //debugger;
        window.addEventListener('keydown', function (event) {
            var keyPress = event.keyCode;

            if (keyPress === 65) {
                hubConnection.invoke("hMove", 65)//left, send data on server
                console.log(keyPress);
            }
            else if (keyPress === 68) {
                hubConnection.invoke("hMove", 68)//right
                console.log(keyPress);
            }
            else if (keyPress === 87) {
                hubConnection.invoke("hMove", 87)//top
                console.log(keyPress);
            }
            else if (keyPress === 83) {
                hubConnection.invoke("hMove", 83)//bottom
                console.log(keyPress);
            }
        });

        hubConnection.on("Movement", function (data) { console.log(data); drawMap(data);}); //get data from server
    </script>
</body>
</html>